<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/baseLayout :: setContent( ~{ ::.wrap } ) }">
    <div class="wrap">
        <div class="warp_inner">
            <div class="right_content">
                <div class="midiaq">
					<div class="mainWrapper"> 
						<div class="ipssGiudeBlock" style="color:red; font-size: large;">
							-요구사항<br>
							-판매자는 등록한 상품에 대해 공지를 등록할 수 있다.<br>
                            -아이디는 고정이며, 닉네임은 사용자에 따라 달라진다.<br>
							-1개의 상품에 대해서 하나의 공지만 등록할 수 있다. <br>
							-등록화면에서는 판매자가 등록한 상품명 중에 공지가 등록되지 않은 상품만 select태그로 보여준다.<br>
                            <span style="color:blue;">-(LEFT JOIN을 통해 null이 아닌값을 선택함)</span><br>
                            -공지에 표시될 이미지만 등록할 수도 있다<br>
                            
						</div>
					</div>
                    <div class="page_title">판매자 공지관리 > 공지등록</div>

                    <form name="#####" action="#####" method="post">
                        <div class="full_collum collum">
                            <ul>
                                <li class="collum_tit">
                                    <h2>게시글관리</h2>

                                    <span class="showtoggle minus"></span>
                                    <ul>
                                        <li>
                                            <table cellpadding="0" cellspacing="0" class="board_basic_view"
                                                width="100%;">
                                                <tr>
                                                    <th>등록일</th>
                                                    <td colspan="5">
                                                        <input type="text" class="datepicker" name="####" readonly placeholder="날짜선택">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>표시여부</th>
                                                    <td colspan="3">
                                                        <div style="color:red">공지로 등록하면 판매자 공지사항으로 즉시 나타납니다</div>
                                                        <div class="uInputRadioBox">
                                                            <div class="uInputRadio">
                                                                <label>
                                                                    <input type="radio"  name="prod_purchase_yn" value="N" checked="checked">
                                                                    <span class="text">공지로 등록함</span>
                                                                </label>
                                                            </div>
                                                            <div class="uInputRadio">
                                                                <label>
                                                                    <input type="radio" name="prod_purchase_yn" value="Y" >
                                                                    <span class="text">등록하지않음</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>아이디</th>
                                                    <td><input type="text" class="inputw150" name="####" value="admin" readonly></td>
                                                    <th>닉네임</th>
                                                    <td><input type="text" class="inputw150" name="####"></td>
                                                </tr>

                                                <tr>
                                                    <th>상품명</th>
                                                    <td>
                                                        <select class="inputw150" onchange="category_List(this.value);">
                                                            <option value="V00">선택</option>
                                                            <option value="V01">관리자가 등록한 상품이 보이면 됩니다</option>
                                                            <option value="V01">관리자가 등록한 상품이 보이면 됩니다</option>
                                                            <option value="V01">관리자가 등록한 상품이 보이면 됩니다</option>
                                                            <option value="V01">관리자가 등록한 상품이 보이면 됩니다</option>
                                                            <option value="V01">관리자가 등록한 상품이 보이면 됩니다</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>제목</th>
                                                    <td colspan="5"><input type="text" class="inputw99p" name="####"></td>
                                                </tr>


                                                
                                                <tr>
                                                    <th>내용</th>
                                                    <td colspan="5">
                                                        <div><textarea  class="inputw99p" name="prod_content" style="height: 200px;"></textarea>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr> 
                                                    <th>배너사진</th>
                                                    <td colspan="3">
                                                    <div class="filebox preview-image">
                                                        <!--1 -->
                                                        <div class="left">
                                                            <span>첨부이미지</span>
                                                            <label class="upload-display" for="a_file">
                                                                <span class="upload-thumb-wrap">
                                                                    <img class="upload-thumb" src="../img/plus_btn.png">
                                                                </span>
                                                            </label>
                                                            <input class="upload-name" value="파일선택" disabled="disabled">
                                                            <input type="file" name="file" id="a_file" class="upload-hidden">
                                                        </div>
                                                    </div>
                                                    
                                                    </td>
                                                </tr>
                                                
                                            </table>
                                            <div class="btn_area">
                                                <input type="submit" class="save" value="등록">
                                            	<input type="button" class="delete" value="목록">
                                                <!-- 
                                                <a href="#" class="save">등록</a>
                                                <a href="#" class="delete">목록</a>
                                                <a href="#" class="revise mglr13">삭제</a> 
                                                -->
                                            </div>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </form>


                </div>
                <!-- right_content end -->
            </div>


            <!-- warp_inner end -->
            <div class="dim_layer">

            </div>
            <!-- wrap end -->
        </div>

        
    </div>
</th:block>

</html>